<a>
  <span class="fileinput-button">
    <i class="icon-upload icon-large"></i>
    <span>{{name}}</span>
    <input id="fileupload" type="file" name="file" multiple>
  </span>
</a>

<div class="fileupload-progress">
  正在上传... {{progress}}%
</div>

<div class="fileupload-error">
  {{errorMessage}}
</div>
