<section class="main">
  <form class="form-2">
    <h1>Intimi</h1>
    <p class="float">
      <label for="login"><i class="icon-user"></i>用户名：</label>
      {{input type='text' value=view.login placeholder='请输入您的用户名...' }}
    </p>
    <p class="float">
      <label for="password"><i class="icon-lock"></i>密码：</label>
      {{input type='password' value=view.password placeholder='请输入您的密码...' class="showpassword" }}
    <p class="clearfix"></p>
    <p >
      &nbsp; &nbsp; &nbsp;
      <a href="">忘记密码？</a>
      &nbsp; &nbsp; &nbsp;
      <a>记住密码：</a>
      {{input type='checkbox' checked=view.remember}}
      &nbsp; &nbsp; &nbsp;
      <button>登录</button>
    </p>
  </form>
</section>
