@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "./fonts";

@import 'font-awesome/scss/font-awesome.scss';

.inkylike-toolbar {
  ul {
    margin: 0;
    li {
      float: left;
      line-height: 60px;
      border-right: 1px solid #1F91EF;
      a {
        padding: 0px 20px;
        display: block;
        font-weight: bold;
        color: white;
      }
      a:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
    li:hover {
      background-color: #1870B8;
    }
  }
}

.content {
  height: 100%;
  .left {
    height: 100%;
    float: left;
    width: 400px;
    background-color: #F2F2F2;
    ul.contacts {
      list-style-type: none;
      margin: 0;
      h3 {
        margin: 0;
        padding: 0 10px;
        font-size: 14px;
        background-color: #E6E6E6;
      }
      .summary {
        height: 60px;
        border-bottom: 1px solid #E2E2E2;
        .latest-message {
          padding: 10px 10px 4px 10px;
          font-size: 16px;
          line-height: 16px;
          .created-at {
            font-size: 14px;
            color: #646464;
          }
        }
        .counts {
          padding: 6px 10px 10px 10px;
          line-height: 14px;
        }
      }
    }
  }
  .right {
    overflow: hidden;
    height: 100%;
  }
}
