@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "./fonts";
@import "font-awesome/scss/font-awesome";

@import 'index';
@import 'contacts';

a:hover {
  text-decoration: none;
}

.inkylike-toolbar {
  ul {
    margin: 0;
    li {
      float: left;
      line-height: 60px;
      border-right: 1px solid #1F91EF;
      a {
        padding: 0px 20px;
        display: block;
        font-weight: bold;
        color: white;
      }
      a:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
    li:hover {
      background-color: #1870B8;
    }
  }
}

.content {
  height: 100%;
  .left {
    height: 100%;
    float: left;
    width: 400px;
    background-color: #F2F2F2;
    a {
      color: #333333;
      &:hover {
        color: #333333;
      }
    }
    a.active > div {
      background-color: #1870B8;
      color: white;
      span { color: white !important; }
    }
  }
  .right {
    overflow: hidden;
    height: 100%;
  }
}
