<ul class="toolbar-actions pull-toolbar">
  <li {{action 'save'}}>
    <i class="icon-save icon-large"></i>
    保存
  </li>
  <li {{action 'cancel'}}>
    <i class="icon-ban-circle icon-large"></i>
    取消
  </li>
</ul>

<h2>
  添加联系人
</h2>

{{partial 'vcards/form'}}
