<h2>
  个人信息
</h2>

<form>
  <ul class="fields">
    <li>
      <div class="add-on">用户名</div>
      <div class="field">
        {{model.name}}
      </div>
    </li>
    <li>
      <div class="add-on">电子邮箱</div>
      <div class="field">
        {{input type='text' value=email}}
      </div>
    </li>
    <li>
      <div class="add-on">真实姓名</div>
      <div class="field">
        {{input type='text' value=realname}}
      </div>
    </li>
  </ul>
</form>
