<div class="inkylike-toolbar"></div>
<div class="content">
  <div class="left left-small">
    <ul>
      <li>
        {{#linkTo 'profile'}}
          <i class="icon-user"></i>
          个人信息
        {{/linkTo}}
      </li>
      <li>
        {{#linkTo 'password'}}
          <i class="icon-key"></i>
          修改密码
        {{/linkTo}}
      </li>
    </ul>
  </div>

  <div class="right">
    {{outlet}}
  </div>
</div>
